html {
    font: 15pt Arial;
}
body {
    background: url("img.gif") no-repeat top center fixed;
    background-size: cover; /*cover

O valor cover especifica que a imagem de fundo deve ser dimensionado de modo que seja tão pequena quanto possível ao mesmo tempo assegurar que ambas as dimensões são maiores do que ou igual à dimensão correspondente do recipiente.*/

   background-size:100% 100%;
}

div {

    background-color: rgba(255,255,255,.8);
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:50px;
}

